<!doctype html>
<html>
  <head>
    <title>React Monk Universal Rendering Example</title>
    <link href='/public/client.css' rel="stylesheet">
  </head>
  <body>
	<h1 id="main-title">Universal Server Side Rendering with React Monk</h1>

    <div id="app"><%- reactOutput %></div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/public/client.js"></script>

  </body>
</html>
